form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
span {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: .5em 0;
    align-items: center;
}
span:last-child {
    justify-content: center;
    button {
        width: 100%;
    }
}
